* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-size: 0.875rem;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

img {
  width: 100%;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  padding: 40px 0;
  z-index: 5;
}

.main {
  padding: 64px 0;
}

.def-button {
  text-align: center;
  line-height: 160%;
  padding: 14px 32px;
  max-width: 200px;
  border-radius: 2.5px;
  color: #ffffff;
  background-color: #2C3878;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.def-button:hover {
  color: #ffffff;
  border-radius: 10px;
}

.text {
  color: #9c9c9c;
  font-size: 18px;
  line-height: 160%;
}

.main-title {
  font-size: 72px;
  font-weight: 700;
  line-height: 140%;
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 160%;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.head__title {
  color: #000000;
  font-weight: 500;
  line-height: 150%;
}

.head__line {
  width: 530px;
  height: 2px;
  background-color: #000000;
}

.head__subtitle {
  font-size: 36px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 25px;
}

.head__descr {
  max-width: 475px;
  color: #9c9c9c;
  font-size: 18px;
  line-height: 160%;
}

.preview {
  margin-bottom: 120px;
}

.preview__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.preview__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  text-align: center;
}

.preview__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.preview__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 140%; /* 78.4px */
  margin: 0 auto;
}

.preveiw__subtitle {
  max-width: 580px;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.preview__img {
  width: 100%;
}

.hidden {
  display: none !important;
}

.noscroll {
  overflow: hidden;
}

.noevent {
  pointer-events: none;
}

.anchor {
  position: absolute;
  -webkit-transform: translateY(-50vh);
          transform: translateY(-50vh);
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.navigation__link {
  line-height: 160%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 14px 32px;
  transition: all 0.3s;
}
.navigation__link:hover {
  border-radius: 10px;
  background-color: #2C3878;
  color: #ffffff;
}
.navigation__link-active {
  line-height: 160%;
  font-weight: 600;
}

.burger {
  display: none;
}

.burger__line {
  width: 100%;
  height: 4px;
  background-color: #2C3878;
}

.home-design {
  margin-bottom: 160px;
}

.design__wrappper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 46px;
}

.design-head {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: relative;
}

.design-head__title {
  max-width: 680px;
  font-size: 72px;
  font-weight: 700;
  line-height: 140%;
}

.design-head__line {
  margin: 50px 0 0 -150px;
  width: 600px;
}

.rights {
  position: absolute;
  bottom: 60px;
  right: -60px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  rotate: -90deg;
}

.design__img-box {
  position: relative;
  width: 100%;
}

.company__statistics {
  position: absolute;
  right: 120px;
  top: -155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 57px;
  padding: 40px;
  background-color: #2C3878;
}

.statistic {
  text-align: center;
  color: #ffffff;
}

.quantity {
  font-size: 52px;
  line-height: 130%;
}

.statistic-name {
  line-height: 160%; /* 25.6px */
}

.home-about {
  margin-bottom: 160px;
}

.home_about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.home_about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img-box {
  max-width: 880px;
}

.text-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  max-width: 230px;
}

.home-service {
  margin-bottom: 160px;
}

.home_service-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 360px;
}

.service__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 880px;
  background-color: #ffffff;
  padding: 40px;
}

.head__descr-service {
  margin-bottom: 40px;
}

.service__argan {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
}

.argan__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.argan__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.argan__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.argan-arrow {
  width: 32px;
  height: 32px;
}

.service-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  max-width: 1050px;
}

.home-product {
  margin-bottom: 160px;
}

.home_product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 75px;
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__subtitle {
  max-width: 340px;
}

.product__argan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
}

.product__argan-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 32px;
  font-weight: 600;
  line-height: 140%; /* 44.8px */
}

.argan__item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 85px;
}

.argan__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.item__info-descr {
  font-size: 16px;
  line-height: 120%;
  max-width: 470px;
}

.home-material {
  margin-bottom: 160px;
}

.home_material-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__material-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

.home__material-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.head__subtitle-material {
  max-width: 350px;
}

.head__descr-material {
  width: 500px;
}

.material-button {
  background-color: transparent;
  border: 1px solid #333;
  color: #333;
  font-weight: 500;
}
.material-button:hover {
  color: #ffffff;
  background-color: #2C3878;
}

.home__material-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  width: 100%;
}

.material-img-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-top: -100px;
}

.material__img-1 {
  bottom: -50px;
  left: 0;
  max-width: 340px;
}

.material__img-2 {
  max-width: 240px;
  top: -120px;
  right: -25px;
}

.material__img-3 {
  max-width: 195px;
  bottom: 20px;
  right: 20px;
}

.home-contact {
  background-color: #2C3878;
  color: #ffffff;
}

.home_contact-wrappper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 40px 0;
}

.home__contact-title {
  max-width: 615px;
  font-size: 36px;
  font-weight: 600;
  line-height: 170%; /* 61.2px */
}

.home__contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 430px;
}

.home__contact-descr {
  color: #d9d9d9;
  font-size: 18px;
  line-height: 160%; /* 28.8px */
}

.contact-button {
  background-color: #ffffff;
  color: #333333;
}
.contact-button:hover {
  color: #2C3878;
}

.about-achievement {
  margin-bottom: 120px;
}

.about__achievement-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.about__achievement-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.head__subtitle-about {
  max-width: 730px;
}

.about__achievement-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.about__achievement-img {
  max-width: 830px;
}

.achievement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
  padding: 40px;
  background-color: #2C3878;
}

.about-service {
  margin-bottom: 120px;
}

.about__service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.about__service-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.head__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.about__service-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.service__dignity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  max-width: 350px;
  padding: 22px 27px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.service__dignity:hover {
  background-color: #2C3878;
  border-radius: 15px;
}
.service__dignity:hover .dignity__title {
  color: #ffffff;
}

.dignity__icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.dignity__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  text-align: center;
}

.dignity__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
}

.dignity__subtitle {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: #9c9c9c;
  font-size: 16px;
  line-height: 160%; /* 28.8px */
}

.service-achievment {
  margin-bottom: 120px;
}

.service__achievment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.achievment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.achievment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.achievment__item-img {
  max-width: 750px;
}

.achievment__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 335px;
}

.achievment__item-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 160%;
}

.team-designer {
  margin-bottom: 120px;
}

.team__designer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.swiper {
  overflow: auto;
}

.swiper-slide {
  max-width: 260px;
}

.designers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.designers__card {
  position: relative;
  background-color: #2C3878;
  height: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 12px;
  width: 260px;
}

.designer-img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.designer__info {
  background-color: #ffffff;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  z-index: 1;
}

.designer__name {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
}

.designer__post {
  color: #9c9c9c;
  font-size: 16px;
  line-height: 160%; /* 25.6px */
}

.swiper-button-prev, .swiper-button-next {
  z-index: 2;
}

.preview__feedback {
  padding: 40px 80px 80px;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.feedback__form input {
  border: 1px solid #9c9c9c;
  padding: 18px 32px;
  width: 100%;
}
.feedback__form textarea {
  border: 1px solid #9c9c9c;
  padding: 18px 32px;
  width: 100%;
  resize: none;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.person__name {
  width: 100%;
  margin-right: 15px;
}

.person__secondname {
  width: 100%;
}

.input__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
  margin-bottom: 10px;
}

.form__input-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  border: 1px solid #9c9c9c;
  padding: 18px 32px;
}
.form__input-number input {
  border: none;
  padding: 0;
}

.person__form-button {
  background-color: #2C3878;
  color: #ffffff;
  margin: 0 auto;
}

.popup__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.popup__answerBack {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #9c9c9c;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__text {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}

.contact-location {
  margin-bottom: 120px;
}

.contact__location-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__location-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.location__body-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.location__body-title {
  width: 285px;
  font-size: 36px;
  font-weight: 600;
  line-height: 170%; /* 61.2px */
  margin-bottom: 24px;
}

.location__body-subtitle {
  color: #9c9c9c;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 40px;
}

.location__body-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;
}
.location__body-info:last-child {
  margin: 0;
}

.info__type {
  font-size: 24px;
  font-weight: 600;
  line-height: 170%; /* 61.2px */
}

.info__contact {
  color: #9c9c9c;
  font-size: 18px;
  line-height: 160%;
}

.location__body-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 45px;
  padding: 15px 0 0;
}

.store {
  max-width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.store__name-country {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
}

.store__descr {
  color: #9c9c9c;
  font-size: 18px;
  line-height: 160%; /* 28.8px */
}

.portfolio {
  margin-bottom: 120px;
}

.portfolio-body {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.portfolio-body-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.portfolio-body-left {
  max-width: 880px;
}

.portfolio-body-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.designer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  padding: 17px 20px;
  z-index: 1;
}
.designer-card-left {
  margin-left: -250px;
}
.designer-card-right {
  margin-right: -250px;
}

.designer-icon {
  width: 55px;
}

.designer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.designer-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%; /* 25.2px */
}

.designer-post {
  color: #9c9c9c;
  font-size: 18px;
  line-height: 160%; /* 28.8px */
}

.portfolio__body-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 220px;
}

.style__name {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
}

.style__descr {
  color: #9c9c9c;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.topic-room {
  margin-bottom: 120px;
}

.topic__room-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.topic__room-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 585px;
}

.overview__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.overview__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
}

.overview__descr {
  color: #9c9c9c;
  font-size: 16px;
  line-height: 160%; /* 28.8px */
}

.overview__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  color: #9c9c9c;
  font-size: 16px;
  line-height: 160%;
}

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.process__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
}

.process__descr {
  color: #9c9c9c;
  font-size: 16px;
  line-height: 160%; /* 28.8px */
}

.room__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.room__img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.room__img {
  width: 100%;
}
.room__img-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  gap: 32px;
}

.room__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -30px;
}

.footer {
  padding: 0 0 80px 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.footer__column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__logo {
  max-width: 125px;
}
.footer__logo img {
  width: 100%;
}

.footer__recom {
  font-size: 36px;
  font-weight: 600;
  line-height: 170%; /* 61.2px */
  max-width: 480px;
}

.footer__column-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.footer__mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.mailing__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 18px;
  line-height: 160%; /* 28.8px */
}

.mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #333;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form__button {
  background: transparent;
}

.follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.follow__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.follow__item {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.follow__item:hover {
  background-color: #2C3878;
  fill: #ffffff;
}
.follow__item:hover svg path {
  fill: #ffffff;
}

@media screen and (max-width: 1230px) {
  .head__descr-material {
    width: 350px;
  }
  .designers__card {
    margin: 0 auto;
  }
  .swiper-slide {
    max-width: 100%;
  }
  .swiper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    padding: 30px 40px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1180px) {
  .location__body-right {
    gap: 25px;
  }
  .store {
    gap: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .designer-card {
    margin: 0;
    padding: 0;
  }
  .portfolio-body-right {
    width: 40%;
    gap: 20px;
  }
}
@media screen and (max-width: 900px) {
  .navigation__list {
    display: none;
  }
  .header__absolute {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .burger {
    position: fixed;
    right: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: transparent;
    width: 35px;
    height: 32px;
    z-index: 5;
  }
  .wrapper {
    position: fixed;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .wrapper__active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100vh;
    background-color: #ffffff;
    z-index: 2;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .header__wrapper-active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .noscroll {
    overflow: hidden;
  }
  .active__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    margin: 0 auto;
  }
  .design-head {
    margin-bottom: 0;
  }
  .design-head__title {
    font-size: 42px;
  }
  .design-head__line {
    margin: 50px 0 0;
  }
  .design__img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .company__statistics {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 25px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .rights {
    display: none;
  }
  .quantity {
    font-size: 36px;
  }
  .product__info-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home__material-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .home__material-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .head__subtitle-material {
    max-width: 600px;
    margin-bottom: 0;
  }
  .head__descr-material {
    width: 100%;
  }
  .home__material-img {
    display: none;
  }
  .about__achievement-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .achievement {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about__service-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service__dignity-left {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .service__dignity-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .service__dignity-right {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .portfolio-body-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .revers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .portfolio-body-right {
    width: 100%;
  }
  .portfolio__body-style {
    max-width: 700px;
    text-align: center;
  }
  .topic__room-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .overview {
    max-width: 1000px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .overview__text {
    max-width: 70%;
  }
  .overview__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    gap: 10px;
  }
}
@media screen and (max-width: 800px) {
  .main {
    padding: 0 0 50px 0;
  }
  .home-design,
  .home-about,
  .home-service,
  .home-product,
  .about-service,
  .service-achievment,
  .about-achievement,
  .preview,
  .contact-location,
  .portfolio,
  .topic-room,
  .home-material {
    margin-bottom: 80px;
  }
  .about__more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
  }
  .text-info {
    max-width: 350px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .home_product-wrapper {
    gap: 50px;
  }
  .argan__item-info {
    gap: 10px;
  }
  .title {
    line-height: 120%;
    font-size: 32px;
  }
  .product__argan-item {
    gap: 10px;
  }
  .achievment__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .achievment__item-text {
    max-width: 600px;
    text-align: center;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__column-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__column-right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__recom {
    text-align: center;
  }
  .follow {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .overview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .overview__text {
    max-width: 100%;
  }
  .overview__info {
    gap: 0px;
  }
}
@media screen and (max-width: 750px) {
  .contact__location-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .location__body-left {
    text-align: center;
  }
  .location__body-title {
    margin-bottom: 0px;
  }
  .location__body-subtitle {
    margin-bottom: 20px;
  }
  .location__body-info {
    margin-bottom: 20px;
    gap: 0;
  }
  .store {
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .long__subtitle {
    font-size: 25px;
  }
  .home_service-wrapper {
    padding: 0;
  }
  .service__info {
    padding: 0;
  }
  .head__subtitle {
    line-height: 130%;
  }
  .service-img {
    display: none;
  }
  .home_contact-wrappper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .home__contact-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__achievement-wrapper {
    gap: 20px;
  }
  .preview__feedback {
    padding: 0;
  }
  .store__descr {
    line-height: 120%;
  }
}
@media screen and (max-width: 600px) {
  .preview__wrapper {
    gap: 40px;
  }
  .preview__text {
    gap: 20px;
  }
  .design-head__line {
    display: none;
  }
  .design-head__title {
    text-align: center;
  }
  .company__statistics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ffffff;
    padding: 0 40px;
    gap: 10px;
  }
  .statistic {
    background-color: #2C3878;
    padding: 10px;
  }
  .statistic-left {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .statistic-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .statistic-right {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .achievement {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 0 40px;
    gap: 10px;
  }
  .contact__location-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .location__body-title {
    margin-bottom: 10px;
    font-size: 26px;
  }
  .location__body-subtitle {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .location__body-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
    gap: 10px;
  }
  .info__type {
    font-size: 18px;
  }
  .info__contact {
    font-size: 16px;
  }
  .location__body-right {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .store {
    max-width: 200px;
  }
}
@media screen and (max-width: 500px) {
  .designers__card {
    max-width: 240px;
    height: 340px;
  }
  .designer__name {
    font-size: 18px;
  }
  .designer__post {
    font-size: 14px;
  }
}
@media screen and (max-width: 470px) {
  .home-design,
  .home-about,
  .home-service,
  .home-product,
  .about-service,
  .service-achievment,
  .about-achievement,
  .preview,
  .contact-location,
  .portfolio,
  .topic-room,
  .home-material {
    margin-bottom: 60px;
  }
  .head__subtitle {
    font-size: 24px;
  }
  .head__descr {
    line-height: 120%;
  }
  .design-head__title {
    font-size: 36px;
  }
  .long__subtitle {
    font-size: 20px;
  }
  .home_about-wrapper {
    gap: 40px;
  }
  .about__more {
    gap: 40px;
  }
  .product__argan {
    gap: 30px;
  }
  .argan__item-left {
    gap: 20px;
  }
  .argan__item-text {
    gap: 20px;
    font-size: 20px;
  }
  .argan__item-num {
    font-size: 26px;
    line-height: 100%;
  }
  .text {
    font-size: 14px;
  }
  .title {
    font-size: 26px;
  }
  .home__contact-title {
    font-size: 24px;
    line-height: 140%;
  }
  .home__contact-descr {
    font-size: 16px;
  }
  .main {
    padding-bottom: 40px;
  }
  .footer {
    padding-bottom: 40px;
  }
  .footer__recom {
    font-size: 24px;
  }
  .mailing__text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .mailing__text svg {
    padding-top: 5px;
  }
  .mailing__text p {
    line-height: 120%;
  }
  .preview__title {
    font-size: 38px;
  }
  .preveiw__subtitle {
    font-size: 1em;
  }
  .service__dignity {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .dignity__title {
    font-size: 20px;
  }
  .dignity__subtitle {
    font-size: 14px;
    line-height: 120%;
  }
  .feedback__form {
    gap: 10px;
  }
  .form__person-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .person__name {
    margin: 0;
  }
  .style__name {
    font-size: 20px;
  }
  .style__descr {
    line-height: 120%;
  }
  .style__descr {
    font-size: 14px;
  }
  .portfolio__body-style {
    gap: 10px;
  }
  .swiper {
    padding: 0 0 60px;
  }
  .swiper-button-prev {
    bottom: 0px;
    top: auto;
  }
  .swiper-button-next {
    bottom: 0px;
    top: auto;
  }
  .swiper-pagination {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 350px) {
  .container {
    padding: 0 10px;
  }
  .active__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .home__contact-title {
    font-size: 20px;
  }
  .item__info-descr {
    font-size: 12px;
  }
}
@media screen and (max-width: 300px) {
  .statistic {
    text-align: center;
  }
}