.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
}
.navigation {
}
.navigation__list {
	display: flex;
	gap: 74px;
}
.navigation__item {
}
.navigation__link {
  line-height: 160%;
  transition: all .3s;
  &-active{
    line-height: 140%;
    font-weight: 600;
  }
}

