.home-service {
	margin-bottom: 160px;
}
.home_service-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-bottom: 360px;
}
.service__info {
	display: flex;
	flex-direction: column;
	max-width: 880px;
	background-color: $white;
	padding: 40px;
}

.head__descr-service{
	margin-bottom: 40px;
}

.service__argan {
	font-size: 24px;
	font-weight: 600;
	line-height: 140%; /* 33.6px */
}
.argan__list {
	display: flex;
	flex-direction: column;
	gap: 35px;
}
.argan__item {
	display: flex;
	justify-content: space-between;
}
.argan__item-text {
	display: flex;
	gap: 40px;
}
.argan-arrow {
	width: 32px;
	height: 32px;
}

.service-img{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
	max-width: 1050px;
}
