@media screen and (max-width: 1230px) {
	.head__descr-material {
		width: 350px;
	}

	// -------------team-designer----------

	.designers__card{
		max-width: 260px;
	}

	.designers__list{
		gap: 0;
		flex-direction: row;
		padding: 0 35px;
	}
}

@media screen and (max-width: 1000px) {
	// -----------portfolio-------

	.designer-card {
		margin: 0;
		padding: 0;
	}
	.portfolio-body-right {
		width: 40%;
		gap: 20px;
	}
}

@media screen and (max-width: 900px) {
	// ---------burger------

	.navigation__list {
		display: none;
	}

	.header__absolute {
		position: fixed;
		width: 100%;
	}

	.burger {
		position: fixed;
		right: 35px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background: transparent;
		width: 35px;
		height: 32px;
		z-index: 5;
	}

	.wrapper {
		position: fixed;
		transform: translateY(100%);
	}
	.wrapper__active {
		transform: translateY(0);
		height: 100vh;
		background-color: $white;
		z-index: 2;
		width: 100%;
	}

	.noscroll {
		overflow: hidden;
	}

	.active__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		margin: 0 auto;
	}

	// ---------home-design-------

	.design-head {
		margin-bottom: 0;
	}

	.design-head__title {
		font-size: 42px;
	}

	.design-head__line {
		margin: 50px 0 0;
	}

	.design__img-box {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.company__statistics {
		position: static;
		flex-direction: row;
		gap: 25px;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.rights {
		display: none;
	}
	.quantity {
		font-size: 36px;
	}

	// ---------home-product-------

	.product__info-text {
		flex-direction: column;
	}

	// ---------home-material-------

	.home__material-info {
		justify-content: center;
		text-align: center;
	}

	.home__material-text {
		align-items: center;
	}

	.head__subtitle-material {
		max-width: 600px;
		margin-bottom: 0;
	}

	.head__descr-material {
		width: 100%;
	}

	.home__material-img {
		display: none;
	}

	// ---------home-material-------

	.about__achievement-body {
		flex-direction: column;
	}

	.achievement {
		flex-direction: row;
	}

	// ---------about-service-------

	.about__service-body {
		flex-direction: column;
	}

	.service__dignity-left {
		align-self: flex-start;
	}
	.service__dignity-center {
		align-self: center;
	}
	.service__dignity-right {
		align-self: flex-end;
	}

	// -----------portfolio-------

	.portfolio-body-row {
		flex-direction: column;
	}

	.revers {
		flex-direction: column-reverse;
	}

	.portfolio-body-right {
		width: 100%;
	}

	.portfolio__body-style {
		max-width: 700px;
		text-align: center;
	}

	// -----------topic-room-------

	.topic__room-info {
		flex-direction: column;
	}

	.overview {
		max-width: 1000px;
		flex-direction: row;
		justify-content: space-between;
		align-items: end;
	}
	.overview__text {
		max-width: 70%;
	}
	.overview__info {
		flex-direction: column;
		align-items: end;
		gap: 10px;
	}
}

@media screen and (max-width: 800px) {
	.main {
		padding: 0 0 50px 0;
	}

	.home-design,
	.home-about,
	.home-service,
	.home-product,
	.about-service,
	.service-achievment,
	.about-achievement,
	.preview,
	.contact-location,
	.portfolio,
	.topic-room,
	.home-material {
		margin-bottom: 80px;
	}

	// ---------home-about-------

	.about__more {
		flex-direction: column;
		gap: 60px;
	}
	.text-info {
		max-width: 350px;
		align-items: center;
		text-align: center;
	}

	// ---------home-product-------

	.home_product-wrapper {
		gap: 50px;
	}

	.argan__item-info {
		gap: 10px;
	}

	.title {
		line-height: 120%;
		font-size: 32px;
	}

	.product__argan-item {
		gap: 10px;
	}

	// ---------service-achievment-------

	.achievment__item {
		flex-direction: column;
		gap: 15px;
	}

	.achievment__item-text {
		max-width: 600px;
		text-align: center;
	}

	// ---------footer-------

	.footer__wrapper {
		flex-direction: column;
		align-items: center;
	}
	.footer__column-left {
		align-items: center;
	}
	.footer__column-right {
		align-items: center;
	}
	.footer__recom {
		text-align: center;
	}
	.follow {
		align-items: center;
	}

	// -----------topic-room-------

	.overview {
		flex-direction: column;
		gap: 10px;
	}
	.overview__text {
		max-width: 100%;
	}
	.overview__info {
		gap: 0px;
	}
}

@media screen and (max-width: 700px) {
	// --------home-about-------

	.long__subtitle {
		font-size: 25px;
	}

	// --------home-service-------

	.home_service-wrapper {
		padding: 0;
	}

	.service__info {
		padding: 0;
	}

	.head__subtitle {
		line-height: 130%;
	}

	.service-img {
		display: none;
	}

	// --------home-contact-------

	.home_contact-wrappper {
		flex-direction: column;
		text-align: center;
	}
	.home__contact-block {
		align-items: center;
	}

	// --------about-achievment-------

	.about__achievement-wrapper {
		gap: 20px;
	}
	// --------preview__feedback-------

	.preview__feedback {
		padding: 0;
	}

	// --------contact-location-------

	.location__body-right {
		gap: 25px;
	}

	.store {
		gap: 10px;
	}

	.store__descr {
		line-height: 120%;
	}

	// --------about-preview-------
}

@media screen and (max-width: 600px) {
	// --------about-preview-------

	.preview__wrapper {
		gap: 40px;
	}

	.preview__text {
		gap: 20px;
	}

	// --------home-design-------


	.design-head__line {
		display: none;
	}

	.design-head__title {
		text-align: center;
	}

	.company__statistics {
		flex-direction: column;
		background-color: $white;
		padding: 0 40px;
		gap: 10px;
	}

	.statistic{
		background-color: $secondary-color;
		padding: 10px;
	}

	.statistic-left {
		align-self: start;
	}
	.statistic-center {
		align-self: center;
	}
	.statistic-right {
		align-self: end;
	}

	// --------about-achievment-------

	.achievement {
		flex-direction: column;
		background-color: $white;
		width: 100%;
		padding: 0 40px;
		gap: 10px;
	}

	// --------contact-location-------

	.contact__location-body {
		flex-direction: column;
	}
	.location__body-title {
		margin-bottom: 10px;
	}
	.location__body-subtitle {
		margin-bottom: 10px;
	}
	.location__body-info {
		flex-direction: row;
		align-items: center;
		margin-bottom: 10px;
	}
	.location__body-right {
		padding: 0;
		justify-content: center;
	}
	.store {
		max-width: 200px;
	}
}

@media screen and (max-width: 470px) {
	.home-design,
	.home-about,
	.home-service,
	.home-product,
	.about-service,
	.service-achievment,
	.about-achievement,
	.preview,
	.contact-location,
	.portfolio,
	.topic-room,
	.home-material {
		margin-bottom: 60px;
	}

	.head__subtitle {
		font-size: 24px;
	}

	.head__descr {
		line-height: 120%;
	}

	// ---------home-design-------

	.design-head__title {
		font-size: 36px;
	}

	// ---------home-about-------

	.long__subtitle {
		font-size: 20px;
	}

	.home_about-wrapper {
		gap: 40px;
	}

	.about__more {
		gap: 40px;
	}

	// ---------home-product-------

	.product__argan {
		gap: 30px;
	}

	.argan__item-left {
		gap: 20px;
	}

	.argan__item-text {
		gap: 20px;
		font-size: 20px;
	}

	.argan__item-num {
		font-size: 26px;
		line-height: 100%;
	}

	.text {
		font-size: 14px;
	}

	.title {
		font-size: 26px;
	}

	// --------home-contact-------

	.home__contact-title {
		font-size: 24px;
		line-height: 140%;
	}
	.home__contact-descr {
		font-size: 16px;
	}

	// --------footer-------
	.main {
		padding-bottom: 40px;
	}

	.footer {
		padding-bottom: 40px;
	}

	.footer__recom {
		font-size: 24px;
	}

	.mailing__text {
		align-items: start;

		svg {
			padding-top: 5px;
		}

		p {
			line-height: 120%;
		}
	}

	// --------about-preview-------

	.preview__title {
		font-size: 38px;
	}

	.preveiw__subtitle {
		font-size: 1em;
	}

	// --------about-service-------

	.service__dignity {
		align-self: center;
	}

	.dignity__title {
		font-size: 20px;
	}

	.dignity__subtitle {
		font-size: 14px;
		line-height: 120%;
	}

	// --------preview__feedback-------

	.feedback__form {
		gap: 10px;
	}

	.form__person-info {
		flex-direction: column;
		gap: 10px;
	}

	.person__name {
		margin: 0;
	}

	// -----------portfolio-------

	.style__name {
		font-size: 20px;
	}

	.style__descr {
		line-height: 120%;
	}

	.portfolio__body-style {
		gap: 10px;
	}
}

@media screen and (max-width: 350px) {
	.container {
		padding: 0 10px;
	}

	// ---------burger--------

	.active__list {
		align-items: start;
	}
	// --------home-design-------


	// --------home-contact-------

	.home__contact-title {
		font-size: 20px;
	}

	// --------home-product-------

	.item__info-descr {
		font-size: 12px;
	}
}

@media screen and (max-width: 300px) {
	.statistic {
		text-align: center;
	}
}
