@media screen and (max-width: 900px) {
	.navigation__list {
		display: none;
	}

  .header__absolute{
    position: fixed;
    width: 100%;
  }

	.burger {
    position: fixed;
		right: 35px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background: transparent;
		width: 35px;
		height: 32px;
		z-index: 5;
	}

  .wrapper{
    position: fixed;
    transform: translateY(100%);
  }
  .wrapper__active{
    transform: translateY(0);
    height: 100vh;
    background-color: $white;
    z-index: 2;
    width: 100%;
  }

  .noscroll{
    overflow: hidden;
  }

  .active__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 350px){
  .active__list{
    align-items: start;
  }
}